<!-- <button (click)="toggleState()" [@removeMe]="btnState">My Button</button>
<ul>
  <li *ngFor="let item of items" [@myListTrigger]="state">{{item}}</li>
</ul> -->
<div class="bar" style="margin-top: 10px;">
  Title
</div>
<div class="bar">
  Title
</div>
<div class="bar">
  Title
</div>

<div class="bar" style="margin-top: 10px;">
  Title
</div>
<!-- <ul (animationend)="onAnimationEnd($event)">
      <li *ngFor="let item of items" class="animated slideInLeft">{{item}} <span class="close"  (click)="remove($event,item)">X</span></li>
  </ul> -->