
.tab {
    opacity: 1;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &.yscroll {
        overflow-y: auto;
    }
}
