@import "../theme.scss";

.tab {
    border-left: $tab-border;
    border-right: $tab-border;
    border-bottom: $tab-border;
    padding: 15px 25px;
}

.tab-notvisible {
    display: none !important;
}

.tab-visible {
    display: flex !important;
}