.tabs {
    display: flex;
    flex-grow: 1 !important;
    flex-direction: row;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2),
        0 2px 8px 0 rgba(0, 0, 0, 0.14),
        0 4px 8px -1px rgba(0, 0, 0, 0.12);

    .header {
        display: flex;
        flex-shrink: 0;
        background: var(--shade-3);
        color: var(--shade-6);

        .tab-header {
            display: flex;
            font-weight: bold;
            cursor: pointer;
            background: var(--shade-1);
            opacity: .8;

            &:hover {
                background: var(--shade-4);
                opacity: 1;
                color: var(--shade-1);
            }

            .close {
                opacity: .6;
                font-size: .8em;
                color: var(--light);

                &:hover {
                    opacity: 1;
                }
            }

            &.selected,
            &.selected:hover {
                color: var(--dark);
                background: var(--light);
                opacity: 1;

                .close {
                    color: var(--dark);
                }
            }
        }

        &.vertical {
            flex-direction: column;
        }
    }

    .content {
        display: flex;
        flex-grow: 1 !important;
    }

}

.tabs.horizontal {
    border-radius: 0;

    &.left .header {
        order: 0;

        .tab-header {
            margin-left: 5px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            margin-top: 1px;
            margin-bottom: 1px;
        }

        .tab-header.selected {
            margin-left: 2px !important;
        }

        .tab-header .title {
            order: 1;
            padding: 5px 10px;
        }

        .tab-header .close {
            order: 0;
            padding-left: 4px;
            padding-top: 4px;
        }
    }

    &.left .content {
        order: 1;
    }

    &.right .header {
        order: 1;

        .tab-header {
            margin-right: 5px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            margin-top: 1px;
            margin-bottom: 1px;
        }

        .tab-header.selected {
            margin-right: 2px !important;
        }

        .tab-header .title {
            flex-grow: 1;
            padding: 3px 10px;
        }

        .tab-header .close {
            padding-right: 4px;
            padding-top: 4px;
        }
    }

    &.right .content {
        order: 0;
    }
}

.tabs.vertical {
    flex-direction: column;
    border-radius: 5px;

    &.top .header {
        order: 0;

        .tab-header {
            margin-top: 5px;
            margin-bottom: 0;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-left: 1px;
            margin-right: 1px;
        }

        .tab-header.selected {
            margin-top: 2px !important;
        }

        .tab-header .title {
            padding: 3px 10px;
        }

        .tab-header .close {
            padding-right: 4px;
            padding-top: 4px;
        }
    }

    &.top .content {
        order: 1;
    }

    &.bottom .header {
        order: 1;

        .tab-header {
            margin-bottom: 5px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-left: 1px;
            margin-right: 1px;
        }

        .tab-header.selected {
            margin-bottom: 2px !important;
        }

        .tab-header .title {
            padding: 3px 10px;
        }

        .tab-header .close {
            padding-right: 4px;
            padding-top: 4px;
        }
    }

    &.bottom .content {
        order: 0;
    }
}