:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .header {
        padding: 4px 0;
        background: var(--primary);
    }

    .body {
        overflow: auto;
    }

    .footer {
        padding: 4px 0;
        background: var(--secondary);
    }

}