.j-autocomplete {
    position: absolute;
    background: #fff;
    overflow: hidden;
    border: 1px solid var(--secondary);

    .j-backdrop {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .j-result-items {
        overflow-y: auto;
        position: relative;
        z-index: 2;
    }

    .j-result-items .j-result-item {
        position: relative;
        z-index: 2;
        cursor: pointer;
        padding: 2px;
        border-bottom: 1px solid var(--secondary);

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            opacity: .7;
        }
    }

    .j-result-footer {
        position: relative;
        z-index: 2;
        border-top: 1px solid var(--secondary);
        padding: 3px;
    }
}