.acbackdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

}

.result {
    position: absolute;
    background: gold;
    overflow: hidden;
}

.res-grid {
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

.res-footer {
    position: relative;
    z-index: 2;
}

.item {
    position: relative;
    z-index: 2;
    cursor: pointer;
    opacity: .7;

    &:hover {
        opacity: 1;
    }
}