<ng-template #defaultTemplate>
  <section *ngIf="showResult" class="d-flex flex-column j-autocomplete" [ngStyle]="resultStyle">
    <div class="j-backdrop" (click)="onClear()"></div>
    <div class="flex-fill j-result-items">
      <ng-container *ngIf="!multiSelect">
        <div class="d-flex j-result-item" (click)="onItemSelected(resultItem)" *ngFor="let resultItem of searchResult">
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: resultItem, index: i}">
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="multiSelect">
        <div class="d-flex j-result-item" *ngFor="let resultItem of searchResult" (click)="onItemSelected(resultItem)">
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: resultItem, index: i}">
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="no-shrink d-flex justify-content-end j-result-footer">
      <button class="btn btn-sm btn-success mr-1" (click)="onSelect()">OK</button>
      <button class="btn btn-sm btn-danger" (click)="onSelect()">Cancel</button>
    </div>
  </section>
</ng-template>

<ng-template #multiSelectItemTemplate let-item="item">
  <div class="no-shrink">
    <input type="checkbox">
  </div>
  <div class="flex-fill">
    {{item.resultItem}}
  </div>
</ng-template>

<ng-template #singleSelectSearchItemTemplate let-item="item">
  <div class="d-flex flex-fill p-1">{{item.resultItem.name}}</div>
</ng-template>