<ng-template #defaultHeaderTemplate>
    <div class="header" [class.vertical]="isVertical">
        <div *ngFor="let tab of tabs" [class.selected]="tab.selected" class="tab-header" (click)="onTabSelect(tab)">
            <span class="title">{{tab.title}}</span>
            <span *ngIf="canClose" class="close" (click)="closeTab(tab)"><i class="fa fa-times"></i> </span>
        </div>
    </div>
</ng-template>


<div class="tabs" [class.vertical]="!isVertical" [class.horizontal]="isVertical" [ngClass]="headerLocation">
    <ng-container *ngTemplateOutlet="defaultHeaderTemplate"></ng-container>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>